/* Features (Особенности) */

.section-features {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.features-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }
}

.features-item {
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: calc((100% - (30px)) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - (90px)) / 4);
  }
}

.features-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.features-item:first-child {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.features-item::before {
  display: block;
  content: "";
  margin-bottom: 30px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-title-item {
  margin-bottom: 10px;
  @include fonts(700, 14px, 1.14, 0.03em);
  color: $primary-text-color;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.features-text {
  @include fonts(400, 14px, 1.71, 0.03em);
  color: $secondary-text-color;
}

.icon-antena::before {
  background-image: url("../images/icons/icons-features/antenna.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  background-image: url("../images/icons/icons-features/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  background-image: url("../images/icons/icons-features/diagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  background-image: url("../images/icons/icons-features/astronaut.svg");
  background-repeat: no-repeat;
  background-position: center;
}
