.header-container {
  border-bottom: 1px solid #ececec;
}

.container.header-container {
  @media screen and (min-width: $tablet) {
  }
}

.main-header {
  @media screen and (min-width: $tablet) {
    width: 100%;
    display: flex;
    margin-top: 26px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    padding: 32px 0;
  }
}

.nav-container {
  @media screen and (max-width: 767px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) {
    display: contents;
  }
}

.nav-list-contact {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 21px;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: unset;
    padding-top: 32px;
  }
}

.link-mail,
.link-phone {
  display: none;
}

@media screen and (min-width: $tablet) {
  .link-mail,
  .link-phone {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: $tablet) {
  .link-mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: $desktop) {
  .link-mail {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.menu {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }

  & .link {
    color: $primary-text-color;
  }
}

.nav-list {
  height: 100%;
  @include fonts(500, 14px, 1.14, 0.02em);
  list-style: none;
  text-decoration: none;

  & .link:hover,
  & .link:focus {
    color: $accent-color;
    @include transition(color);
  }

  & .link-mail:hover,
  & .link-mail:focus {
    color: $accent-color;
    @include transition(color);
  }

  & .link-phone:hover,
  & .link-phone:focus {
    color: $accent-color;
    @include transition(color);
  }

  & .link.current {
    color: $accent-color;
  }
}

.icon-mail {
  margin-right: 10px;
  fill: $secondary-text-color;
}

.icon-phone {
  margin-right: 10px;
  fill: $secondary-text-color;
}

.link-mail:hover .icon-mail,
.link-mail:focus .icon-mail {
  fill: $accent-color;
  @include transition;
}

.link-phone:hover .icon-phone,
.link-phone:focus .icon-phone {
  fill: $accent-color;
  @include transition;
}

.line::after {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -34px;
  border-radius: 2px;
  background: #2196f3;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.header-modal-menu {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $primary-white-color;
  @media screen and (min-width: $tablet) {
    display: none;
  }
  z-index: 3;
}

.header-modal-menu .icon-modal-menu {
  display: none;
}

.header-modal-menu.is-open .icon-modal-menu {
  display: block;
}

.header-modal-menu.is-open .icon-modal-close {
  display: none;
}

.mobile-menu {
  position: absolute;
  padding-top: 21px;
  padding-right: 25px;
  padding-bottom: 48px;
  padding-left: 40px;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  background-color: $primary-white-color;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 2;

  &.is-open {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: $tablet) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is--open {
  opacity: 1;
  visibility: hidden;
}

.header-modal-menu:hover .icon-modal-menu,
.header-modal-menu:hover .icon-modal-close {
  fill: $accent-color;
  @include transition;
}

.mobile-menu-list {
  margin-top: 27px;
  margin-bottom: 302px;
}

.mobile-menu-contact {
  margin-bottom: 64px;
}

.mobile-phone {
  margin-bottom: 32px;
}

.mobile-link-phone {
  @include fonts(500, 34px, 1.17, 0.02em);
  color: $accent-color;
}

.mobile-link-phone {
  @include fonts(500, 24px, 1.16, 0.02em);
  color: $accent-color;
}

.mobile.menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  @include fonts(500, 40px, 1.17, 0.02em);
  color: $primary-text-color;
  list-style: none;
}

.mobile .link.current {
  color: $accent-color;
}

.mobile-social-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-social-item {
  @media screen and (max-width: 479px) {
    margin-bottom: 10px;
  }
}

.mobile-socials-link {
  @include fonts(500, 18px, 1.22, 0.02em);
  color: $accent-color;
}

.mobile-separator {
  margin: 0 10px;
}
