.header-container {
  // display: flex;
  // justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.container.header-container {
  @media screen and (min-width: $tablet) {
    // justify-content: space-between;
    // align-items: center;
    // width: 100%;
  }
}

.main-header {
  @media screen and (min-width: $tablet) {
    width: 100%;
    display: flex;
    margin-top: 26px;
    margin-bottom: 17px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    padding: 32px 0;
  }
}

.nav-container {
  @media screen and (max-width: 767px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) {
    display: contents;
  }
}

.nav-list-contact {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 21px;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: unset;
    padding-top: 32px;
  }
}

.link-mail,
.link-phone {
  display: none;
}

@media screen and (min-width: $tablet) {
  .link-mail,
  .link-phone {
    display: block;
  }
}

@media screen and (min-width: $tablet) {
  .link-mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: $desktop) {
  .link-mail {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

// .link-phone {
//   @media screen and (min-width: $tablet) {
//     margin-top: 10;
//     margin-bottom: 21px;
//   }
// }

.menu {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-right: 50px;
  }
}

.nav-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }

  & .link {
    color: $primary-text-color;
  }
}

.nav-list {
  height: 100%;
  // display: flex;
  @include fonts(500, 14px, 1.14, 0.02em);
  list-style: none;
  text-decoration: none;

  & .link:hover,
  & .link:focus {
    color: $accent-color;
    @include transition(color);
  }

  & .link-mail:hover,
  & .link-mail:focus {
    color: $accent-color;
    @include transition(color);
  }

  & .link-phone:hover,
  & .link-phone:focus {
    color: $accent-color;
    @include transition(color);
  }

  & .link.current {
    color: $accent-color;
  }
}

// .link-mail,
// .link-phone {
//   display: inline-flex;
//   align-items: center;
// }

// .mail-phone {
//   margin-right: 30px;
// }

.icon-mail {
  margin-right: 10px;
  fill: $secondary-text-color;
}

.icon-phone {
  margin-right: 10px;
  fill: $secondary-text-color;
}

.link-mail:hover .icon-mail,
.link-mail:focus .icon-mail {
  fill: $accent-color;
  @include transition;
}

.link-phone:hover .icon-phone,
.link-phone:focus .icon-phone {
  fill: $accent-color;
  @include transition;
}

.line::after {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -34px;
  border-radius: 2px;
  background: #2196f3;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.header-modal-menu {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $primary-white-color;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header-modal-menu .icon-modal-menu {
  display: none;
}

.header-modal-menu.is-open .icon-modal-menu {
  display: block;
}

.header-modal-menu.is-open .icon-modal-close {
  display: none;
}

// .header-modal-menu {
//   // display: none;
//   width: 40px;
//   height: 40px;
//   background-color: $primary-white-color;
//   @media screen and (min-width: $tablet) {
//     display: none;
//   }
// }

// .header-modal-menu {
//   display: none;
//   width: 40px;
//   height: 40px;
// }

// // @media screen and (max-width: 767px) {
// //   .header-modal-menu {
// //     display: block;
// //   }
// }

.mobile-menu {
  position: absolute;
  padding-top: 21px;
  padding-right: 25px;
  padding-bottom: 48px;
  padding-left: 40px;
  left: 0;
  right: 0;
  height: auto;
  background-color: $primary-white-color;

  &.is-open {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: $tablet) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is--open {
  opacity: 1;
  visibility: hidden;
}

// .mobile-menu-list {
//   text-align: center;
// }

.mobile.menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  @include fonts(500, 14px, 1.14, 0.02em);
  list-style: none;
}
