/* Team (Команда) */

.section-team {
  width: 100%;
  padding-top: 60px;
  background-color: #f5f4fa;

  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

.team-list {
  list-style: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }
}

.info-worker {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team {
  &-item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-top: 30px;
    width: 100%;
    @media screen and (min-width: $tablet) {
      width: calc((100% - (30px)) / 2);
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - (90px)) / 4);
      margin-top: 50px;
    }
  }

  .features-item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &-title {
    @include fonts(700, 28px, 1.18, 0.03em);
    color: $primary-text-color;
    text-align: center;
    @media screen and (min-width: $desktop) {
      @include fonts(700, 36px, 1.16, 0.03em);
    }
  }
}

.photo-title {
  margin-bottom: 10px;
  @include fonts(500, 16px, 1.19, 0.03em);
  color: $primary-text-color;
  text-align: center;
}

.photo-text {
  margin-bottom: 16px;
  @include fonts(400, 16px, 1.19, 0.03em);
  color: $secondary-text-color;
  text-align: center;
}

// /* Team (Команда) */

// .section-team {
//   background-color: #f5f4fa;
// }

// .team-list {
//   list-style: none;
// }

// .info-worker {
//   padding: 30px 32px;
// }

// .team {
//   &-list {
//     display: flex;
//   }

//   &-item {
//     width: calc((100% - 90px) / 4);
//     background: #ffffff;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//   }

//   &-item:not(:last-child) {
//     margin-right: 30px;
//   }

//   &-title {
//     margin-bottom: 50px;
//     @include fonts(700, 36px, 1.16, 0.03em);
//     color: $primary-text-color;
//     text-align: center;
//   }
// }

// .photo-title {
//   margin-bottom: 10px;
//   @include fonts(500, 16px, 1.19, 0.03em);
//   color: $primary-text-color;
//   text-align: center;
// }

// .photo-text {
//   margin-bottom: 16px;
//   @include fonts(400, 16px, 1.19, 0.03em);
//   color: $secondary-text-color;
//   text-align: center;
// }
